<h1>Posts#index</h1>
<%= link_to "投稿", new_post_path %>
<ul class="post-list">
  <% @posts.each do |post| %>
    <li><%= post.name %></li>
    <li><%= post.email %></li>
    <li><%= post.comment %></li>
  <% end %>
</ul>
<button class="more" type="button">もっと見る</button>
